<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Css/Layout.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    
    <nav class="navbar navbar-dark bg-dark">
            @Html.ActionLink("Customer page", "CustomersPage", "Pages")
            @Html.ActionLink("Products", "ProductsPage", "Pages")
            @Html.ActionLink("Edit Products", "EditProductsPage", "Pages")
            @Html.ActionLink("Categories", "CategoriesPage", "Pages")
            @Html.ActionLink("Subcategories", "SubcategoriesPage", "Pages")
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center;">&copy; AdventureWorks,
            <script>document.write(new Date().getFullYear());</script></p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>